<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  JBoss, Home of Professional Open Source
  Copyright 2008, Red Hat Middleware LLC, and individual contributors
  as indicated by the @author tags.
  See the copyright.txt in the distribution for a
  full listing of individual contributors.
  This copyrighted material is made available to anyone wishing to use,
  modify, copy, or redistribute it subject to the terms and conditions
  of the GNU Lesser General Public License, v. 2.1.
  This program is distributed in the hope that it will be useful, but WITHOUT A
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  You should have received a copy of the GNU Lesser General Public License,
  v.2.1 along with this distribution; if not, write to the Free Software
  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  MA  02110-1301, USA.

  (C) 2008,
  @author JBoss Inc.
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>
        DTF Web Interface
    </display-name>
    <description>
        no description
    </description>

	<!-- this requies the invoker servlet to be uncommented in tomcat's web.xml or moved in here -->
	<servlet-mapping>
	  <servlet-name>invoker</servlet-name>
	  <url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
	  <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>
			Resource reference to a factory for java.sql.Connection
			instances that may be used for talking to a particular
			database that is configured in the server.xml file.
		</description>

		<res-ref-name>
			jdbc/ResultsDB
		</res-ref-name>

		<res-type>
			javax.sql.DataSource
		</res-type>

		<res-auth>
			Container
		</res-auth>
	</resource-ref>

    <env-entry>
      <description>
        String value of SMTP server used to e-mail results via JavaMail
      </description>
      <env-entry-name>dtf/smtp_server</env-entry-name>
      <env-entry-value>localhost</env-entry-value>
      <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

</web-app>
